@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#pokerCard {
  background-color: white;
  border-radius: 5px;
  height: 600px;
  position: relative;
  box-shadow: 15px 18px 4px black;
  margin-top: 20px;
  transform: scale(1);
  transition: transform 0.4s;
}
#pokerCardIcon {
  font-size: 90px;
}
#pokerCardNumber {
  font-size: 180px;
  text-align: center;
}
#samePokerIcon {
  font-size: 90px;
  position: absolute;
  bottom: -25px;
  right: 10px;
  transform: rotate(180deg);
}
#pokerCard:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}
